<div class="page-boundary" fxLayout="column">
  <mat-card>
    <mat-card-header>
      <mat-card-title>General actions</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form *ngIf="form" [formGroup]="form" (submit)="form.valid && submit(form.value)">

        <mat-form-field appearance="outline">
          <mat-label>Start date time</mat-label>
          <input matInput formControlName="start_datetime" type="text">
          <mat-error *ngIf="form.get('start_datetime')?.errors?.required">
            {{formValidationService.required.message()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>End date time</mat-label>
          <input matInput formControlName="end_datetime" type="text">
          <mat-error *ngIf="form.get('end_datetime')?.errors?.required">
            {{formValidationService.required.message()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Item</mat-label>
          <mat-select formControlName="item">
            <mat-option *ngFor="let item of itemsMinimal" [value]="item.name_english">
              {{item.name_english}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('item')?.errors?.required">
            {{formValidationService.required.message()}}
          </mat-error>
        </mat-form-field>

        <div class="action wide-action">
          <!--          <button-->
          <!--            class="actionButton"-->
          <!--            mat-stroked-button-->
          <!--            type="button"-->
          <!--          > PRINT-->
          <!--          </button>-->
          <button
            color="warn"
            class="actionButton"
            mat-stroked-button
            type="button"
            (click)="reset()"
          > RESET
          </button>
          <button
            color="primary"
            class="actionButton"
            mat-stroked-button
            type="button"
            [disabled]="!this.form.valid"
            (click)="submit(this.form.value)"
          > SEARCH
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="not-first-row">
    <mat-card-content>

      <table class="the-table">
        <tr>
          <th>#</th>
          <th>Item name (English)</th>
          <th>Item name (Dari)</th>
          <th>Item ID</th>
          <th>Category name</th>
          <th>Unit</th>
          <th>Type</th>
          <th>Usage type</th>
          <th>Entered by</th>
          <th>Date time</th>
          <th>Quantity</th>
          <th>Notes</th>
        </tr>

        <tr *ngFor="let r of records; let i = index;">
          <td>{{records.length - 1}}</td>
          <td>{{r.item_name_english}}</td>
          <td class="lang-prs">{{r.item_name_dari}}</td>
          <td>{{r.item_id}}</td>
          <td>{{r.category_name_english}}</td>
          <td>{{r.unit}}</td>
          <td>{{r.type}}</td>
          <td>{{r.usage_type}}</td>
          <td>{{r.update_by_name}}</td>
          <td>{{r.update_datetime}}</td>
          <td>{{r.quantity}}</td>
          <td>{{r.notes}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
