mat-card-subtitle
  font-style italic
mat-card-header
  display flex
  justify-content space-between
  align-items center
  margin-bottom 10px
  mat-card-title
    margin 0
  .action
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    button
      margin-right 5px
.operations
  display flex
  button
    display: flex;
    align-items: center;
    justify-content: center
    height 24px !important

