mat-card-subtitle
  font-style italic

table
  font-size 11px
  margin-top 10px
  border-collapse collapse
  width 100%

  tr
    &:hover
      background-color #f2f2f2
      transition background-color 0.2s ease

    th, td
      text-align left
      padding 7px
      border-top 1px solid #dcdcdc
      border-bottom 1px solid #dcdcdc

    th a, td a
      text-decoration none

table tr td,
table tr th,
table tr td a,
table tr td a:hover,
table tr td a:visited
  color #424242


mat-card-header
  display flex
  justify-content space-between
  align-items center
