<div class="dialog-header">
  <h1 color="primary" mat-dialog-title>Table #{{data.tableNumber}}</h1>
  <mat-icon mat-dialog-close matTooltip="close">close</mat-icon>
</div>
<div mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="ordersSummary?.length">Customers</mat-card-title>
      <mat-card-subtitle *ngIf="!ordersSummary?.length">No customer for this table yet.</mat-card-subtitle>
      <div class="action">
        <button mat-stroked-button [disabled]="!selectedOrder" color="primary" (click)="listOrders(selectedOrder)">
          ORDERS
        </button>
        <button mat-stroked-button [disabled]="!selectedOrder" (click)="enableTransfer()">TRANSFER</button>
        <button mat-stroked-button (click)="AddNewCustomer()">
          <mat-icon>add</mat-icon>
          <span>ADD</span>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content *ngIf="ordersSummary?.length">
      <table>
        <tr>
          <th>Select</th>
          <th>#</th>
          <th>Order for</th>
          <th>Order time</th>
        </tr>
        <tr *ngFor="let orderSummary of ordersSummary, let i = index">
          <td>
            <mat-radio-button (click)="selectedOrder = orderSummary" [value]="orderSummary"></mat-radio-button>
          </td>
          <td>{{i + 1}}</td>
          <td>{{orderSummary.customer_name}}</td>
          <td>{{orderSummary.init_order_datetime | date: 'hh : mm : ss  a'}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br>
  <form [formGroup]="transferForm" *ngIf="tables.length && transferForm &&  selectedOrder">
    <mat-card>
      <mat-form-field fxFlex="50" appearance="outline">
        <mat-label>Select table</mat-label>
        <mat-select formControlName="destinationTableId">
          <mat-option *ngFor="let table of tables" [value]="table.id">
            Table #{{table.id}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="transferForm.get('destinationTableId')?.errors?.required">
          {{formValidationService.required.message()}}
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button (click)="transferForm.valid && transfer(transferForm.value)">CONFIRM TRANSFER</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <mat-card *ngIf="customerOrder">
    <mat-card-header>
      <mat-card-title>
        Orders
      </mat-card-title>
      <div class="action">
        <button mat-stroked-button color="primary" (click)="AddNewOrder(selectedOrder)">
          <mat-icon>add</mat-icon>
          <span>ADD</span>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <th>#</th>
          <th>English name</th>
          <th>Dari name</th>
          <th>Quantity</th>
          <th>Unit price</th>
          <th>Total price</th>
          <th>Notes</th>
          <th>Operations</th>
        </tr>
        <tr *ngFor="let item of customerOrder, let i = index">
          <td *ngIf="item.order_item_id">{{i + 1}}</td>
          <td *ngIf="item.order_item_id">{{item.item_name_english}}</td>
          <td *ngIf="item.order_item_id">{{item.item_name_dari}}</td>
          <td *ngIf="item.order_item_id">{{item.count}}</td>
          <td *ngIf="item.order_item_id">AFN {{item.price | number}}</td>
          <td *ngIf="item.order_item_id">AFN {{item.price * item.count | number}}</td>
          <td *ngIf="item.order_item_id">{{item.order_item_notes}}</td>
          <td *ngIf="item.order_item_id" class="operations">
            <button mat-icon-button color="accent" matTooltip="Edit" (click)="AddNewOrder(item)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteOrder(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

</div>
<!--<div mat-dialog-actions>-->
<!--  &lt;!&ndash;  <button mat-button color="primary" mat-dialog-close>OK</button>&ndash;&gt;-->
<!--</div>-->
