.container
  width: 100%;
  height: 43px;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  padding: 0;
  z-index: 1;
  color: #424242;
  font-size: 12px;
  font-weight: bold;
  .user
    display flex
    align-items flex-end
    float: right;
    margin-right: 23px;
    margin-top: 12px;
    font-size 11px
    mat-icon
      margin-left  10px
      font-size 20px
