<form [formGroup]="form" (ngSubmit)="form.valid && submit(form.value)">
  <div class="dialog-header">
    <h1 color="primary" mat-dialog-title>
      <span *ngIf="!data?.id">New Employee</span>
      <span *ngIf="data?.id">Edit Employee ({{data?.id}})</span>
    </h1>
    <mat-icon mat-dialog-close matTooltip="close">close</mat-icon>
  </div>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Employee name</mat-label>
      <input matInput formControlName="name" type="text" [readonly]="data?.isViewMode">
      <mat-error *ngIf="form.get('name')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Father name</mat-label>
      <input matInput formControlName="fatherName" type="text" [readonly]="data?.isViewMode">
      <mat-error *ngIf="form.get('fatherName')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Designation</mat-label>
      <input matInput formControlName="designation" type="text" [readonly]="data?.isViewMode">
      <mat-error *ngIf="form.get('designation')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" [disabled]="data?.isViewMode">
        <mat-option *ngFor="let status of statuses" [value]="status">
          {{status}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('status')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Salary</mat-label>
      <input matInput formControlName="salary" type="number" [readonly]="data?.isViewMode">
      <mat-error *ngIf="form.get('salary')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Notes</mat-label>
      <input matInput formControlName="notes" type="text" [readonly]="data?.isViewMode">
      <mat-error *ngIf="form.get('notes')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button *ngIf="!data?.isViewMode" color="primary" type="submit" [disabled]="form.invalid">SAVE</button>
    <button mat-button mat-dialog-close>CLOSE</button>
  </div>
</form>
