<form [formGroup]="form" *ngIf="form" (ngSubmit)="form.valid && submit(form.value)">
  <div class="dialog-header">
    <h1 color="primary" mat-dialog-title>
      <span>Payroll</span>
    </h1>
    <mat-icon mat-dialog-close matTooltip="close">close</mat-icon>
  </div>
  <div mat-dialog-content fxLayout="row wrap">


    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Employee name</mat-label>
      <input matInput formControlName="employee_name" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Employee ID</mat-label>
      <input matInput formControlName="employee_id" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Father name</mat-label>
      <input matInput formControlName="employee_father_name" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Designation</mat-label>
      <input matInput formControlName="employee_designation" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Target year-month</mat-label>
      <input matInput formControlName="target_year_month" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Base salary (monthly)</mat-label>
      <input matInput formControlName="base_salary_monthly" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Days count in the month</mat-label>
      <input matInput formControlName="month_days_count" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Base salary (daily)</mat-label>
      <input matInput formControlName="base_salary_daily" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Total for absenties</mat-label>
      <input matInput formControlName="total_for_absenties" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Total advances</mat-label>
      <input matInput formControlName="total_advances" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Old calculations</mat-label>
      <input matInput formControlName="old_calculations" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Adjustments</mat-label>
      <input matInput formControlName="adjustments" [readonly]="this.data && this.data.id">
      <mat-error *ngIf="form.get('adjustments')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Payable salary</mat-label>
      <input matInput formControlName="payable_salary" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Paid</mat-label>
      <input matInput formControlName="paid" [readonly]="this.data && this.data.id">
      <mat-error *ngIf="form.get('paid')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32">
      <mat-label>Remaining</mat-label>
      <input matInput formControlName="remaining" readonly>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Notes</mat-label>
      <input matInput formControlName="notes" type="text" [readonly]="this.data && this.data.id">
      <mat-error *ngIf="form.get('notes')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32" *ngIf="(this.data && this.data.id)">
      <mat-label>Executed Datetime</mat-label>
      <input matInput formControlName="execution_datetime" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="32" *ngIf="(this.data && this.data.id)">
      <mat-label>Executed by</mat-label>
      <input matInput formControlName="executed_by_name" readonly>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button *ngIf="!(this.data && this.data.id)" color="primary" type="submit" [disabled]="form.invalid">EXECUTE</button>
    <button mat-button mat-dialog-close>CLOSE</button>
  </div>
</form>
