<div class="dialog-header">
  <h1 color="primary" mat-dialog-title>View order details</h1>
  <mat-icon mat-dialog-close matTooltip="close">close</mat-icon>
</div>
<div mat-dialog-content>
  <table class="the-table">
    <tr>
      <th>Order ID</th>
      <td>{{currentOrder?.id}}</td>
      <th>Order for</th>
      <td>{{currentOrder?.customer_name}}</td>
    </tr>
    <tr>
      <th>Initial order time</th>
      <td>{{currentOrder?.init_order_datetime | date: 'hh : mm : ss  a'}}</td>
      <th>Initial order by</th>
      <td>{{currentOrder?.init_order_by_name}}</td>
    </tr>
    <tr>
      <th>Last update time</th>
      <td>{{currentOrder?.last_update_datetime | date: 'hh : mm : ss  a'}}</td>
      <th>Last update by</th>
      <td>{{currentOrder?.last_update_by_name}}</td>
    </tr>
    <tr>
      <th>Initial dispatch time</th>
      <td>{{currentOrder?.init_dispatch_datetime}}</td>
      <th>Last dispatch time</th>
      <td>{{currentOrder?.last_dispatch_datetime}}</td>
    </tr>
    <tr>
      <th>Checked out time</th>
      <td>{{currentOrder?.checked_out_datetime}}</td>
      <th>Checked out by</th>
      <td>{{currentOrder?.checked_out_by_name}}</td>
    </tr>
  </table>

  <br>

  <table class="the-table">
    <tr>
      <th>#</th>
      <th>English name</th>
      <th>Dari name</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Total price</th>
      <th>Notes</th>
    </tr>
    <tr *ngFor="let item of orderItems, let i = index">
      <td>{{i + 1}}</td>
      <td>{{item?.item_name_english}}</td>
      <td>{{item?.item_name_dari}}</td>
      <td>{{item?.count}}</td>
      <td>AFN {{item.price | number}}</td>
      <td>AFN {{item.price * item.count | number}}</td>
      <td>{{item.order_item_notes}}</td>
    </tr>
    <tr *ngIf="currentOrder?.miscellaneous_amount">
      <th>--</th>
      <th>Miscellaneous item</th>
      <td>مورد متفرقه</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>AFN {{currentOrder?.miscellaneous_amount}}</td>
      <td>{{currentOrder?.miscellaneous_notes}}</td>
    </tr>
    <tr *ngIf="orderItems">
      <th></th>
      <th>Gross total</th>
      <td></td>
      <td></td>
      <td></td>
      <td>AFN {{currentOrder?.gross_total | number}}</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <th>Discount</th>
      <td></td>
      <td></td>
      <td></td>
      <td>AFN {{(currentOrder?.discount ? currentOrder?.discount : 0) | number}}</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <th class="important">Grand total</th>
      <td></td>
      <td></td>
      <td></td>
      <td class="important">
        AFN {{(currentOrder?.gross_total - (currentOrder?.discount ? currentOrder?.discount : 0)) | number}}</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <th class="important">Total payments</th>
      <td></td>
      <td></td>
      <td></td>
      <td class="important">AFN {{(currentOrder?.total_payments ? currentOrder?.total_payments : 0) | number}}</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <th class="important">Remaining payment</th>
      <td></td>
      <td></td>
      <td></td>
      <td class="important">AFN {{(currentOrder?.gross_total -
        (currentOrder?.discount ? currentOrder?.discount : 0) - (currentOrder?.total_payments ? currentOrder?.total_payments : 0))  | number}}</td>
      <td></td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="updateInput('payment')" type="button">ADD PAYMENT</button>
  <button mat-stroked-button (click)="updateInput('discount')" type="button">ADD DISCOUNT</button>
  <button mat-stroked-button (click)="checkout(currentOrder)" type="button">CHECKOUT</button>
  <button mat-stroked-button (click)="updateInput('misc item') " type="button">ADD MISC ITEM</button>
  <button mat-stroked-button type="button">CALCULATOR</button>
  <button mat-stroked-button type="button">PRINT</button>
</div>
