<mat-selection-list #shoes [multiple]="false">
  <div *ngFor="let parentOption of optionsList" [ngClass]="{'selected': parentOption.is_expanded}">

    <mat-list-option [value]="parentOption.name" (click)="expandList(parentOption.urlSegment)"
                     [selected]="parentOption.urlSegment=== currentSegment"
                     [routerLink]="[lang, parentOption.urlSegment]">
      <div class="option-text">
        <mat-icon class="option-icon">{{parentOption.icon}}</mat-icon>
        <span [ngClass]="{'mini-state': isClosed}">{{parentOption.name}}</span>
      </div>
      <mat-icon *ngIf="parentOption.children" class="icon-status" [ngClass]="{'mini-state': isClosed}">
        {{parentOption.is_expanded ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </mat-list-option>
    <div class="child-option" [ngClass]="{'expand': parentOption.is_expanded}">
      <mat-list-option class="option " *ngFor="let childOption of parentOption.children"
                       [selected]="childOption.urlSegment=== currentSegment"
                       [routerLink]="[lang, parentOption.urlSegment, childOption.urlSegment]">
        <div [ngClass]="{'padding-left': !isClosed, 'option-text': true}">
          <mat-icon class="option-icon">{{parentOption.icon}}</mat-icon>
          <span [ngClass]="{'mini-state': isClosed}">{{childOption.name}}</span>
        </div>
      </mat-list-option>
    </div>
  </div>
</mat-selection-list>
