<form [formGroup]="form" (ngSubmit)="submit(form.value)" (reset)="reset()">
  <div class="dialog-herder">
    <h1 color="primary" mat-dialog-title>Order for - table #{{data.tableNumber}}</h1>
    <mat-icon mat-dialog-close matTooltip="close">close</mat-icon>
  </div>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Customer name</mat-label>
      <input matInput formControlName="customer_name" type="text">
    </mat-form-field>


  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">ADD</button>
    <button mat-button mat-dialog-close>CLOSE</button>
  </div>
</form>
