table.the-table
  font-size 11px
  margin-top 10px
  border-collapse collapse
  width 100%

  tr
    &:hover
      background-color #f2f2f2
      transition background-color 0.2s ease

    th, td
      text-align left
      padding 7px
      border-top 1px solid #dcdcdc
      border-bottom 1px solid #dcdcdc


    th a, td a
      text-decoration none

table tr td,
table tr td a,
table tr td a:hover,
table tr td a:visited
  color #777
table tr th
  color #333
  background-color #f3f3f36e
  font-weight 500
table tr .important
  font-weight 600 !important
mat-card-header, .mat-card-content
  .action
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button
      margin-right 5px

.mat-card-content
  .action
    border-top 1px solid #dddddd
    padding-top 15px

mat-card-header
  display flex
  justify-content space-between
  align-items center
  margin-bottom 10px
  mat-card-title
    margin 0
  .action
    width: 50%;

mat-card-subtitle
  font-style italic

.operations
  display flex
  button
    display: flex;
    align-items: center;
    justify-content: center
    height 24px !important

.lang-prs
  font-family BYekan-Regular !important
  direction rtl
  font-size 13px

.page-boundary
  padding 15px

mat-form-field
  margin-left 5px
  margin-right 5px

mat-card.not-first-row
  margin-top 15px !important
