@font-face
  font-family 'BYekan-Regular'
  src url('../fonts/b-yekan/BYekan.eot')
  src url('../fonts/b-yekan/BYekan.eot?#iefix') format('embedded-opentype'), url('../fonts/b-yekan/BYekan.woff') format('woff'), url('../fonts/b-yekan/BYekan.ttf') format('truetype'), url('../fonts/b-yekan/BYekan.otf') format('opentype'), url('../fonts/b-yekan/BYekan.svg#BYekan-Regular') format('svg')
  font-weight 400
  font-style normal
  font-stretch normal
  unicode-range U+0020-FEFC

body
  font-family Roboto, "Helvetica Neue", sans-serif
  overflow hidden
  margin 0
  height 100%
