<br>
<table class="the-table">
  <tr>
    <th>Employee ID</th>
    <td>{{data?.id}}</td>
  </tr>
  <tr>
    <th>Employee name</th>
    <td>{{data?.name}}</td>
  </tr>
  <tr>
    <th>Father name</th>
    <td>{{data?.father_name}}</td>
  </tr>
  <tr>
    <th>Designation</th>
    <td>{{data?.designation}}</td>
  </tr>
  <tr>
    <th>Year-month</th>
    <td>{{data?.targetYearMonth}}</td>
  </tr>
</table>


<form [formGroup]="form" (ngSubmit)="form.valid && submit(form.value)">
  <div class="dialog-header">
    <h1 color="primary" mat-dialog-title>
      <span>Add leaves/absenties</span>
    </h1>
    <mat-icon mat-dialog-close matTooltip="close">close</mat-icon>
  </div>
  <div mat-dialog-content>


    <mat-form-field appearance="outline">
      <mat-label>For day</mat-label>
      <mat-select formControlName="forDate">
        <mat-option *ngFor="let day of days" [value]="day">
          {{day}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('forDate')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <input matInput formControlName="duration" type="number">
      <mat-error *ngIf="form.get('duration')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
      <mat-error *ngIf="!form.get('duration')?.errors?.required">
        Duration must be between 0 and 1
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('type')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Notes</mat-label>
      <input matInput formControlName="notes" type="text">
      <mat-error *ngIf="form.get('notes')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">SAVE</button>
    <button mat-button mat-dialog-close>CLOSE</button>
  </div>
</form>
