.container
    width 100%
    height 100%
    background-color #fff
    .sidenav-content
        display flex
        height 100%
        align-items center
        justify-content center
    .sidenav
        padding 20px
        width 300px
    ::ng-deep mat-drawer
        visibility visible
