<div class="container">
  <mat-card *ngFor="let table of tables">
    <mat-card-content>
      <div class="top">
        <span>{{table.id}}</span>
        <div class="action">
          <mat-icon>close</mat-icon>
          <mat-icon matTooltip="Add/edit orders" (click)="addEditOrdersDialog(table.id)">edit</mat-icon>
        </div>
      </div>
      <div class="bottom">
        <span>Orders: </span>
        <span>{{table.orders_count}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
