<div class="container">
  <mat-card *ngFor="let table of tables">
    <mat-card-content>
      <div class="top">
        <span>{{table.id}}</span>
        <div class="action">
          <button *ngIf="table.orders_count" mat-icon-button  matTooltip="View orders" (click)="addEditOrdersDialog(table.id, true)">
            <mat-icon>restaurant</mat-icon>
          </button>
          <button *ngIf="!table.orders_count" mat-icon-button  matTooltip="Close" (click)="addEditOrdersDialog(table.id)">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Add/edit orders" (click)="addEditOrdersDialog(table.id)">
            <mat-icon >edit</mat-icon>
          </button>

        </div>
      </div>
      <div class="bottom">
        <span>Orders: </span>
        <span>{{table.orders_count}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
