.container
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20%, 1fr));
  margin: 60px 0;
  padding 0 15px

  mat-card
    user-select: none;
    color: #424242;
    padding-left: 20px;
    padding-right: 20px;
    margin 8px

    mat-card-content
      display flex
      flex-flow column

      .top
        height 70%
        display flex
        flex-flow row
        justify-content space-evenly
        align-items center
        margin: 20px 0;

        span
          font-size 50px
          font-weight bold
          width 50%
          padding-right 10px

        .action
          display flex
          flex-flow column

          mat-icon
            margin 5px 0
            font-size 30px
            cursor pointer

      .bottom
        height 30%
        margin-top 5px
        display flex
        justify-content center

        span
          font-size 20px
          padding 0 5px


