<mat-card class="boundary">
  <mat-card-header>
    <mat-card-title>{{ttProvider}}</mat-card-title>
    <div class="action">
      <button
        class="actionButton"
        mat-stroked-button
        [disabled]="!chosenRecord"
        (click)="viewDialog(chosenRecord)"
      > VIEW
      </button>
      <button
        class="actionButton"
        mat-stroked-button
        (click)="fetch()"
      > REFRESH
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-radio-group [(ngModel)]="chosenRecord">
      <table class="the-table">
        <thead>
        <tr>
          <th>Select</th>
          <th>#</th>
          <th>Table</th>
          <th>Date time</th>
          <th>Duration</th>
          <th>Status</th>
          <th>ID</th>
          <th>Order ID</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of records; let i = index;">
          <td>
            <mat-radio-button [value]="r.provider_order_id"></mat-radio-button>
          </td>
          <td>{{i + 1}}</td>
          <td>Table {{r.table_id}}</td>
          <td>{{r.insert_datetime | jalaliDatetime}}</td>
          <td>{{getDuration(r.insert_datetime)}}</td>
          <td>{{r.provider_order_status}}</td>
          <td>{{r.provider_order_id}}</td>
          <td>{{r.order_id}}</td>
        </tr>
        </tbody>
      </table>
    </mat-radio-group>
  </mat-card-content>
</mat-card>
