@import "../../../styles/color-palette.styl"
.container
  top: 43px;
  width: 100%;
  height: 110px;
  color: #fff;
  position: relative;
  background-color #8bc34a !important
  display flex
  flex-direction row
  .logo
    width 20%
    display flex;
    justify-content center
    align-items center
    img
      position: absolute;
      right: 25px;
  .navigation-and-title
    width 80%
    .title
      font-size 18px
      font-weight 600
      color textDefault
      padding-left 20px
    .breadcrumb
      list-style: none;
      padding-left: 20px;
      color: textDefault;
      display flex
      flex-direction row
      align-items center
      li
        font-size: 10px;
        text-decoration: none;
        color: textDefault;
        outline: none;
        .separator
          padding 0 5px
        a
          text-decoration none
          color textDefault
      mat-icon
        font-size 13px
        padding-bottom 2px
        display flex
        align-items center
