<div class="container">
  <div class="navigation-and-title">
    <ul class="breadcrumb">
      <mat-icon>dashboard</mat-icon>
      <li><a [routerLink]="[lang, 'orders-bills']">Main</a></li>
      <li *ngFor="let option of urlSegmentOptions">
        <span class="separator"> > </span>
        <a [routerLink]="lang + '/' + option.urlSegment">{{option.name}}</a>
      </li>
    </ul>
    <div class="title">

    </div>
  </div>
  <div class="logo">
    <img src="../../../assets/images/logo.png" alt="logo">
  </div>
</div>
