.container
  top: 43px;
  width: 100%;
  height: 110px;
  color: #fff;
  position: relative;
  background-color #8bc34a !important
  display flex
  flex-direction row
  .logo
    width 20%
    display flex;
    justify-content center
    align-items center
    img
      position: absolute;
      right: 25px;
  .navigation-and-title
    width 80%
    .breadcrumb
      list-style: none;
      padding-left: 20px;
      color: #212121;
      display flex
      flex-direction row
      align-items center
      li
        font-size: 10px;
        text-decoration: none;
        color: #212121;
        outline: none;
      mat-icon
        font-size 13px
        display flex
        align-items center
