<form [formGroup]="form" (ngSubmit)="form.valid && submit(form.value, panel)">
  <mat-accordion>
    <mat-expansion-panel #panel class="disabled-pointer" [expanded]="isExpanded" (click)="$event.stopPropagation();">
      <mat-expansion-panel-header>
        <mat-panel-title>
          General actions
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-fields">
        <mat-form-field appearance="outline">
          <mat-label>Start date-time</mat-label>
          <input matInput type="datetime-local" formControlName="startDatetime">
          <mat-error *ngIf="form.get('startDatetime')?.errors?.required">
            {{formValidationService.required.message()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>End date-time</mat-label>
          <input matInput type="datetime-local" formControlName="endDatetime">
          <mat-error *ngIf="form.get('endDatetime')?.errors?.required">
            {{formValidationService.required.message()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Order ID</mat-label>
          <input matInput type="number" min="1" formControlName="orderId">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Customer name</mat-label>
          <input matInput type="text" min="1" formControlName="customerName">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select table</mat-label>
          <mat-select formControlName="table">
            <mat-option *ngFor="let table of tables" [value]="table.id">
              Table #{{table.id}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-action-row>
        <button mat-stroked-button color="primary" type="submit">SEARCH</button>
        <button mat-stroked-button type="button" (click)="form.reset()">RESET</button>
        <button mat-stroked-button type="button">PRINT</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<mat-card *ngIf="searchResultList?.length">
  <mat-card-header>
    <mat-card-title>Search result</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="the-table">
      <tr>
        <th>Options</th>
        <th>#</th>
        <th>Customer name</th>
        <th>Order ID</th>
        <th>Table number</th>
        <th>Order date-time</th>
        <th>Checkout date-time</th>
        <th>Gross total</th>
        <th>Discount</th>
        <th>Grand total</th>
        <th>Total payments</th>
        <th>Remaining payment</th>
      </tr>
      <tr *ngFor="let item of searchResultList, let i = index">
        <td class="operations">
          <button mat-icon-button color="accent" matTooltip="View details" (click)="view(item)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
        <td>{{i + 1}}</td>
        <td>{{item.customer_name}}</td>
        <td>{{item.order_id}}</td>
        <td>{{item.last_table_id}}</td>
        <td>{{item.init_order_datetime | date: 'yyyy-MM-dd  hh : mm : ss  a'}}</td>
        <td>{{item.checked_out_datetime | date: 'yyyy-MM-dd  hh : mm : ss  a'}}</td>
        <td>AFN {{item.gross_total}}</td>
        <td>AFN {{item.discount}}</td>
        <td>AFN {{item.gross_total - item.discount}}</td>
        <td>AFN {{item.total_payments}}</td>
        <td>AFN {{item.gross_total - item.discount - item.total_payments}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isSearched && !searchResultList?.length">
  <mat-card-header>
    <mat-card-subtitle>No history found!</mat-card-subtitle>
  </mat-card-header>
</mat-card>
