<form [formGroup]="form" (ngSubmit)="form.valid && submit(form.value)">
  <div class="dialog-herder">
    <h1 color="primary" mat-dialog-title>Order for - table #{{data.tableNumber}}</h1>
    <mat-icon mat-dialog-close matTooltip="close">close</mat-icon>
  </div>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Customer name</mat-label>
      <input matInput formControlName="customerName" type="text">
      <mat-error *ngIf="form.get('customerName')?.errors?.required">
        {{formValidationService.required.message()}}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">SAVE</button>
    <button mat-button mat-dialog-close>CLOSE</button>
  </div>
</form>
