/* You can add global styles to this file, and also import other style files */
@import "../node_modules/material-design-icons/iconfont/material-icons.css";
@import "./styles/mat-component.styl";
@import "./styles/color-palette.styl";
@import "./styles/general.styl";
@import "./styles/custom.styl";

