<div class="page-boundary" fxLayout="column">
  <mat-card>
    <mat-card-header>
      <mat-card-title>General actions</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="action wide-action">
        <!--          <button-->
        <!--            mat-stroked-button-->
        <!--            type="button"-->
        <!--          > PRINT-->
        <!--          </button>-->
        <button
          mat-stroked-button
          type="button"
          (click)="list()"
        > LIST
        </button>
        <button
          mat-stroked-button
          type="button"
          (click)="addEditDialog()"
        > ADD ITEM TO TRACK
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="not-first-row">
    <mat-card-content>

      <div class="action per-item">
        <button
          mat-stroked-button
          type="button"
          [disabled]="!chosenRecord"
          (click)="stockManipulationDialog(chosenRecord)"
        > ADD USAGE
        </button>

        <button
          mat-stroked-button
          type="button"
          [disabled]="!chosenRecord"
          (click)="addEditDialog()"
        > EDIT TRACKING ITEM
        </button>
      </div>

      <mat-radio-group [(ngModel)]="chosenRecord">
        <table class="the-table">
          <tr>
            <th>Select</th>
            <th>#</th>
            <th>Item name (English)</th>
            <th>Item name (Dari)</th>
            <th>Item ID</th>
            <th>Status</th>
            <th>Limit</th>
            <th>Available quantity</th>
            <th>Unit</th>
            <th>Last update by</th>
            <th>Last update date time</th>
            <th>Notes</th>
          </tr>

          <tr *ngFor="let r of records; let i = index;">
            <td>
              <mat-radio-button [value]="r.id"></mat-radio-button>
            </td>
            <td>{{i + 1}}</td>
            <td>{{r.name_english}}</td>
            <td class="lang-prs">{{r.name_dari}}</td>
            <td>{{r.id}}</td>
            <td>{{r.status}}</td>
            <td>{{r.acceptable_limit}}</td>
            <td>{{r.available_quantity | number}}</td>
            <td>{{r.unit}}</td>
            <td>{{r.last_update_by_name}}</td>
            <td>{{r.last_update_datetime}}</td>
            <td>N/A</td>
          </tr>
        </table>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</div>
