.element-wrapper
  font-size 12px
  .app-label
    color rgba(0, 0, 0, .54)
    margin-top 14px
  .app-value
    line-height 1.4
    text-align justify
    word-break break-word
  .expandable
    max-height 220px
    overflow hidden
  a
    padding 4px
